body {-webkit-overflow-scrolling:touch;}
/*! Common | Page */
.design {background: #000;}
.design .black-type * {color:#000}
.c_btn-type1 em{color:inherit !important}

.s34 .design .o_area-inner,
.s34 .design .f_header-type1 {width:1140px;margin:0 auto;font-size:0;}
.s34 .design .f_header-s10 {width:1140px;margin:0 auto;padding-top:110px;padding-bottom:212px;box-sizing:border-box}
.s34 .design .f_header-type1 {position:static}
.s34 .design .c_tit-type4 {font-family: 'SamsungSharpSans';font-weight:bold !important;font-size:18px;line-height:32px;}
.s2 .design .c_tit-type4 {font-size: 18px;}

.s3 .design .o_area-inner,
.s3 .design .f_header-type1,
.s3 .design .f_header-s10 {width:864px}
.s2 .design .o_area-inner,
.s2 .design .f_header-type1 {width:694px;margin:0 auto;font-size:0;}
.s2 .design .f_header-s10 {width:694px;margin:0 auto;padding-top:110px;padding-bottom:110px;font-size:0;box-sizing:border-box;}
.s2 .design .f_header-s10 .c_cate-type1 span {top:130px;}

.s1 .design .f_header-s10 {margin:0 26px;}

.s4 .design .c_btn-type1 {margin-top:35px}
.s3 .design .c_btn-type1 {margin-top:25px}
.s2 .design .c_btn-type1 {margin-top:30px}
.s1 .design .c_btn-type1 {margin-top:40px}

.design article[class*="m_feature-"] {position:static}
.s2 .design [class*="f_header-"] {position: relative;right:auto;left:auto;top:auto;}
.design .static {position:static !important}
.m_content-design {background:#000;}
.m_content-design * {color:#fff}
.m_content-design .m_feature-white {background:#fff}
.m_content-design .m_feature-white * {color:#000}
.m_content-design .c_tit-type3,
.m_content-design .c_tit-type3 .inner {color:#747474}
.s4 .m_feature-design {padding-top:130px;padding-bottom:130px}
.s3 .m_feature-design {padding-top:130px;padding-bottom:130px}
.s2 .m_feature-design {padding-top:110px;padding-bottom:110px}
.s1 .m_feature-design {padding-top:90px;margin-top:-45px;padding-bottom:45px;}

.design .f_header-type1:after {display: block; clear:both; content:'';}
.design .o_areas {width:1920px;position:relative;left:50%;transform:translateX(-50%);-ms-transform:translateX(-50%);font-size:0;}
.design .o_areas:after {display:block; clear:both; content:''}
.design .o_area1 {width:50%;display: inline-block;vertical-align:top}
.design .o_area2 {width:50%;display: inline-block;vertical-align:top}

.s1 .design .o_area1 {width:auto;display:block}
.s1 .design .o_area2 {width:auto;display:block}
.s34 .design .c_desc-type2 + .c_desc-type2 {margin-top:11px;}
.s2 .design .c_desc-type2 + .c_desc-type2 {margin-top:8px;}
.s1 .design .c_desc-type2 + .c_desc-type2 {margin-top:10px;}
html.s34 .m_content-kv.scroll-type + section {padding-top:0;}

/*! kv-type */
.s1 .m_content-kv .c_tit-type3 {width:auto}

.design .m_feature-kv {height:768px;padding-top: 0;}
.m_content-kv .f_header-type1{display:block !important;position:absolute;top:auto;bottom:92px;left:0;right:0;}
.m_content-kv .f_header-type1 .inner_header-type1{position:relative;width:1084px;margin:0 auto;padding-left:56px;}
.m_content-kv .f_header-type1 .inner_header-type1:after{display:block;clear:both;content:'';}
.m_content-kv .f_header-type1 .c_tit-type1{float:left;width:374px;font-size:42px;line-height:1.2;}
.m_content-kv .f_header-type1 .c_desc-type1{position:relative;top:-12px;float:left;width:635px;font-family: 'SamsungSharpSans';font-weight:bold !important;font-size:42px;line-height:1.7}
.s3 .m_content-kv .f_header-type1 .inner_header-type1{width:864px;}
.s3 .m_content-kv .f_header-type1 .c_tit-type1{width:330px;}
.s3 .m_content-kv .f_header-type1 .c_desc-type1{width:534px;}

.s2 .m_feature-kv{height:764px;}
.s2 .m_content-kv .f_container figure{width:1346px;margin-left:-768px;}
.s2 .m_content-kv .f_header-type1 .inner_header-type1{width:640px;}
.s2 .m_content-kv .f_header-type1 .c_tit-type1{position:absolute;top:0;right:100%;font-size:22px;line-height:26px;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transform-origin:top right;-ms-transform-origin:top right;transform-origin:top right;}
.s1 .m_content-kv .f_header-type1 {position:absolute;left:26px;right:26px;bottom:30px;margin:0;}
.s2 .m_content-kv .f_header-type1 .c_desc-type1{font-size:40px;line-height:56px;}
.s1 .m_content-kv .f_header-type1 .inner_header-type1{padding-left:0;}
.s1 .m_content-kv .m_feature-kv{height:426px;}
.s1 .m_content-kv .f_container figure{width:768px;margin-left:-360px;}
.s1 .m_content-kv .f_container figure{width:768px;margin-left:-360px;}
.s1 .m_content-kv .f_header-type1 .c_tit-type1{font-size:15px;line-height:20px;}
.s1 .m_content-kv .f_header-type1 .c_desc-type1{padding-top:12px;font-size:23px;line-height:36px;}


/*! Infinity Display */
.m_feature-infinity .f_container:not(.no-anim) {opacity:0}
.m_feature-infinity .ani-fade .f_container:not(.no-anim) {opacity:1; -webkit-transition:opacity .9s .5s; transition:opacity .9s .5s;}
.s34 .m_feature-infinity [class*='c_']:not(.no-anim) {
    -webkit-transform:translateY(130px);
    -ms-transform:translateY(130px);
    transform:translateY(130px);
    opacity:0;
}
.s12 .m_feature-infinity [class*='c_']:not(.no-anim){
    -webkit-transform:translateY(60px);
    -ms-transform:translateY(60px);
    transform:translateY(60px);
    opacity:0;
}

.m_feature-infinity .ani-fade [class*='c_']:not(.no-anim) {
    -webkit-transform:none;
    -ms-transform:none;
    transform:none;
    opacity:1;
    -webkit-transition:opacity .9s;
    transition:opacity .9s;
}

.m_feature-infinity .f_header-s10 .c_tit-type2 {width:700px;min-height:120px}
.s12 .m_feature-infinity .f_header-s10 .c_tit-type2 {width:auto;}
.m_feature-infinity .o_tab {position:relative;margin:0 auto;z-index:2;}
.m_feature-infinity .o_tab ul {margin-left:-12px}
.m_feature-infinity .o_tab li {display: inline-block;}
.m_feature-infinity .o_tab li>a {position:relative;display:block;padding:0 20px 40px;font-size:12px;line-height:32px;color:#747474;font-family:'SamsungSharpSans';font-weight:bold !important;}
.s2 .m_feature-infinity .o_tab li>a {padding:0 10px 40px;}
.m_feature-infinity .o_tab li>a>img {display:block;opacity:.3}
.m_feature-infinity .o_tab li>a>span {position:absolute;bottom:0;left:50%;-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);display:block;text-align:center;opacity: .6}
.m_feature-infinity .o_tab li a:hover {color:#fff;transition:.25s;-webkit-transition:.25s}
.m_feature-infinity .o_tab.only_one-fade li a.on>* {color:#fff;opacity:1;text-decoration:underline;transition:.25s;-webkit-transition:.25s}
.m_feature-infinity .o_tab li a span {white-space: nowrap}

.s1 .m_feature-infinity .o_tab {position:static;padding:30px 0 35px;margin:0 26px}
.s1 .m_feature-infinity .o_tab ul {margin-left: 0;}
.s1 .m_feature-infinity .o_tab li+li {margin-left:20px;}
.s1 .m_feature-infinity .o_tab a {position:relative;padding:0;text-align:center;}
.s1 .m_feature-infinity .o_tab img {display:block; margin:0 auto;}
.s1 .m_feature-infinity .o_tab .tab1 img {width:43px}
.s1 .m_feature-infinity .o_tab .tab2 img {width:45px}
.s1 .m_feature-infinity .o_tab .tab3 img {width:47px}
.s1 .m_feature-infinity .o_tab .tab4 img {width:49px}
.s1 .m_feature-infinity .o_tab span {position:static;-ms-transform:none;-webkit-transform:none;transform:none;margin-top:4px;}

.s34 .m_feature-infinity.s10e {padding-bottom:0}
.s34 .m_feature-infinity .o_area1 {width:auto; display:block;}
.s34 .m_feature-infinity .o_area2 {width:auto; display:block;margin-top: 40px;}
.s34 .m_feature-infinity .o_tab {width:1140px;margin:50px auto 0;}
.s34 .m_feature-infinity .o_header-area {position:relative;z-index:2;width:362px}
.s34 .m_feature-infinity .o_item-desc {position:relative;z-index:5;width:1140px;margin:40px auto 0}
.s34 .m_feature-infinity .o_item-desc.view .c_desc-type3:after {width:100%;transition:width .45s;}
.s34 .m_feature-infinity .o_item-desc .c_desc-type3 span {display:block;width:300px;color:#4e82cd}
.s34 .m_feature-infinity .o_item-desc .c_desc-type3 a {color:#4e82cd}
.s34 .m_feature-infinity .f_container {position:static;width:1140px;margin:0 auto;overflow:visible;height:auto}
.s34 .m_feature-infinity .f_section2 {padding-top:270px;margin-top:78px}
.s34 .m_feature-infinity .f_section2 .f_header-type1 {padding-top:10px}
.s34 .m_feature-infinity .f_section2 .f_container {z-index:2}
.s34 .m_feature-infinity .f_section2 .o_prod_areas {z-index:1}
.s34 .m_feature-infinity .f_section2 .c_desc-type3 {position:absolute;width:842px;top:0;left:0;display:none}
.s34 .m_feature-infinity .f_section2 .c_desc-type3.on {position:relative;display:block;}
.s34 .m_feature-infinity .f_section2 .c_desc-type3:after {position:absolute;left:0;bottom:-7px;width:0;height:1px;display:block;background:#4e82cd;content:'';transition:width .45s;}
.s34 .m_feature-infinity .o_prod_areas {position:absolute;top:628px;left:50%;width:720px;height:1520px;}
.s34 .m_feature-infinity .o_prod {position:absolute;top:0;left:-84px;opacity:0;z-index:-1;transition:opacity .5s;-webkit-transition:opacity .5s}
.s34 .m_feature-infinity .o_prod.on {opacity:1;z-index:0}
.s34 .m_feature-infinity .f_header-s10 {padding-bottom:0}
.s34 .m_feature-infinity .f_section3 {padding-top:360px}
.s34 .m_feature-infinity .f_section3 .c_desc-type3:after {position:absolute;left:0;bottom:-7px;width:0;height:1px;display:block;background:#4e82cd;content:'';}
.s34 .m_feature-infinity .f_section3 .g_s10e {min-height:1342px}
.s34 .m_feature-infinity .f_section3 .g_s10e .f_header-type1 {position:relative;left:auto;right:auto;top:auto;}
.s34 .m_feature-infinity .f_section3 .g_s10e .o_item-desc {position:static;}

		.s34 .m_feature-infinity .f_section3 .g_s10e .c_desc-type3:before {position:absolute;left:1032px;bottom:-7px;width:1px;top:calc(100% + 7px);margin-top:100%;display:block;background:#4e82cd;content:'';}
.s34 .m_feature-infinity .f_section3 .g_s10e .c_desc-type3>span:after {position:absolute;left:1032px;top:163px;width:0;height:1px;display:block;background:#4e82cd;content:'';}
.s34 .m_feature-infinity .f_section3 .g_s10 .logo-wrap{overflow:hidden;padding:50px 0 10px}
.s34 .m_feature-infinity .f_section3 .g_s10 .display-logo{float:left;width:68px;}
.s34 .m_feature-infinity .f_section3 .g_s10 .display-logo img{width:100%}
.s34 .m_feature-infinity .f_section3 .g_s10 .logo-wrap .c_desc-type2{float:right;width:70%;}
.s34 .m_feature-infinity .f_section3 .g_s10 {padding-bottom:30px;}
.s34 .m_feature-infinity .f_section3 .g_s10 .c_desc-type3:before {position:absolute;left:823px;bottom:-7px;width:1px;height:0;display:block;background:#4e82cd;content:'';}
.s34 .m_feature-infinity .f_section3 .o_tab {display:none}
.s34 .m_feature-infinity .f_section3 .o_item {display:none}
.s34 .m_feature-infinity .f_section3 .o_item.on {display:block}
.s34 .m_feature-infinity .f_section3 .o_prod-s10-plus:after {width:200px;height:200px;position:absolute;bottom:126px;left:242px;content:'';background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10-plus_design_infinity_finger.png') no-repeat;background-size:100% auto;z-index:5;opacity:0;transition:opacity 1s .6s}
.s34 .m_feature-infinity .f_section3 .o_prod-s10:after {width:200px;height:200px;position:absolute;bottom:199px;left:242px;content:'';background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_design_infinity_finger.png') no-repeat;background-size:100% auto;z-index:5;opacity:0;transition:opacity 1s .6s}

.s34 .m_feature-infinity .f_section3 .g_s10 .c_desc-type3:after {width:0;}
.s34 .m_feature-infinity.fixed .o_prod_areas {position:fixed;top:190px}
.s34 .m_feature-infinity.step2 .f_section2 .o_prod {opacity:0;}
.s34 .m_feature-infinity.step2 .f_section3 .o_prod.on:after {opacity:1}
.s34 .m_feature-infinity.step2 .f_section3 .g_s10 .c_desc-type3:after {transition:width .5s .2s;width:823px}
.s34 .m_feature-infinity.step2 .f_section3 .g_s10 .c_desc-type3:before {transition:height .4s .7s; height:144px}
.s34 .m_feature-infinity.step2.s10 .f_section3 .g_s10 .c_desc-type3:before {transition:height .4s .7s;height:216px}

.s34 .m_feature-infinity.fixed .f_section3 .g_s10e .o_item-desc .c_desc-type3:after,
.s34 .m_feature-infinity.fixed .f_section3 .g_s10e .o_item-desc .c_desc-type3>span:after {width:0;transition:none;}
		.s34 .m_feature-infinity.fixed .f_section3 .g_s10e .o_item-desc .c_desc-type3:before {top:calc(100% + 7px);transition:none;margin-top:100%;}
.s34 .m_feature-infinity.step2 .f_section3 .g_s10e .c_desc-type3:after {transition:width .35s .2s;width:1032px}
		.s34 .m_feature-infinity.step2 .f_section3 .g_s10e .c_desc-type3:before {transition:margin .35s .55s;top:163px;margin-top:0;}
.s34 .m_feature-infinity.step2 .f_section3 .g_s10e .c_desc-type3>span:after {transition:width .4s .9s;width:82px}

.s3 .m_feature-infinity .o_area2 {margin-top:30px}
.s3 .m_feature-infinity .o_header-area {width:334px}
.s3 .m_feature-infinity .g_s10 .o_area1 {width:310px}
.s3 .m_feature-infinity .g_s10 .o_area2 {width:330px}
.s3 .m_feature-infinity .o_tab {width:864px;margin-top:40px}
.s3 .m_feature-infinity .f_container {width:864px}
.s3 .m_feature-infinity .o_prod_areas {width:576px;height:1216px}
.s3 .m_feature-infinity .o_item-desc {width:864px}
.s3 .m_feature-infinity .o_prod {left:-100px}
.s3 .m_feature-infinity .o_prod img{width:576px;height:1216px}
.s3 .m_feature-infinity .o_item-desc.view .c_desc-type3:after {width:609px}
.s3 .m_feature-infinity .f_section3 .g_s10 {padding-bottom:0}
.s3 .m_feature-infinity .f_section3 .g_s10e {min-height:1080px}
.s3 .m_feature-infinity .f_section3 .g_s10e .c_desc-type3:before {left:764px}
.s3 .m_feature-infinity .f_section3 .g_s10e .c_desc-type3>span:after {left:764px;top:128px}
.s3 .m_feature-infinity .f_section3 .o_prod-s10:after {width:160px;height:160px;left:193px;bottom:159px}
.s3 .m_feature-infinity .f_section3 .o_prod-s10-plus:after {width:160px;height:160px;left:193px;bottom:101px}
.s3 .m_feature-infinity.s10 .f_section3 .fixed-endline {margin-top:-30px}

.s3 .m_feature-infinity.step2 .f_section3 .g_s10 .c_desc-type3:after {width:599px}
.s3 .m_feature-infinity.step2 .f_section3 .g_s10 .c_desc-type3:before {left:599px;height:141px}
.s3 .m_feature-infinity.step2.s10 .f_section3 .g_s10 .c_desc-type3:before {height:205px}
.s3 .m_feature-infinity.step2 .f_section3 .g_s10e .c_desc-type3:after {width:764px}
.s3 .m_feature-infinity.step2 .f_section3 .g_s10e .c_desc-type3:before {top:128px}
.s3 .m_feature-infinity.step2 .f_section3 .g_s10e .c_desc-type3>span:after {width:66px}

.s2 .m_feature-infinity.m_feature-design {padding-top:0;}
.s2 .design .m_feature-infinity .f_header-s10 {padding-bottom:0;}
.s2 .m_feature-infinity .f_section2 {position:relative;padding-top:172px}
.s2 .m_feature-infinity .c_tit-type3 {width:278px}
.s2 .m_feature-infinity .o_tab {width:694px;padding-top:105px;margin-top:40px}
.s2 .m_feature-infinity .f_container {left:50%;top:auto;bottom:0;margin-left:-48px;width:432px;height:568px;}
.s2 .m_feature-infinity .o_prod {position:absolute;top:0;right:0;width:432px;height:568px;z-index:-1;opacity:0;transition: opacity .5s;}
.s2 .m_feature-infinity .o_prod.on {opacity:1;z-index:0;}
.s2 .m_feature-infinity .o_item-desc {position:relative;width:694px;min-height:250px;margin:30px auto 0;z-index:5;}
.s2 .m_feature-infinity .c_desc-type3 {position:absolute;opacity:0;z-index:-1}
.s2 .m_feature-infinity .c_desc-type3:after {position:absolute;left:0;bottom:-7px;width:0;height:1px;display:block;background:#4e82cd;content:'';transition:width .45s;}
.s2 .m_feature-infinity .c_desc-type3 a {color:#4e82cd}
.s2 .m_feature-infinity .c_desc-type3 span {display:block;width:266px;color:#4e82cd;font-size:21px;line-height:28px}
.s2 .m_feature-infinity .c_desc-type3.on {position:relative;opacity:1;z-index:0}
.s2 .m_feature-infinity .o_item-desc.view .c_desc-type3:after {width:508px;transition:width .45s;}

.s2 .m_feature-infinity .f_section3 {position:relative;padding-top:172px}
.s2 .m_feature-infinity .f_section3 .g_s10 .o_tab {padding-top:90px}
.s2 .m_feature-infinity .f_section3 .g_s10 .logo-wrap{overflow:hidden;padding:40px 0 10px}
.s2 .m_feature-infinity .f_section3 .g_s10 .display-logo{float:left;width:70px;}
.s2 .m_feature-infinity .f_section3 .g_s10 .display-logo img{width:100%}
.s2 .m_feature-infinity .f_section3 .g_s10 .logo-wrap .c_desc-type2{float:right;width:74%}
.s2 .m_feature-infinity .f_section3 .o_item-area {position:relative;width:694px;margin:0 auto;}
.s2 .m_feature-infinity .f_section3 .o_item-area .o_item {position:absolute;top:0;left:0;opacity:0;z-index:-1;transition:opacity .5s}
.s2 .m_feature-infinity .f_section3 .o_item-area .o_item.on {position:relative;opacity:1;z-index:0}
.s2 .m_feature-infinity .f_section3 .c_tit-type3 {width:268px}

.s2 .m_feature-infinity .f_section3 .g_s10e .o_tab {padding-top:210px;margin-top:100px}
.s2 .m_feature-infinity .f_section3 .g_s10e .o_item-desc {min-height:0;padding-bottom:88px}
.s2 .m_feature-infinity .f_section3 .g_s10e .f_container,
.s2 .m_feature-infinity .f_section3 .g_s10e .o_prod {height:564px}
.s2 .m_feature-infinity .f_section3 .g_s10e .o_item-desc .c_desc-type3>span:after {position:absolute;left:624px;bottom:316px;width:0;height:1px;display:block;background:#4e82cd;content:'';}

.s2 .m_feature-infinity .f_section3 .g_s10 .f_container,
.s2 .m_feature-infinity .f_section3 .g_s10 .o_prod {height:404px}
.s2 .m_feature-infinity .f_section3 .g_s10 .o_item-desc {min-height:0;padding-bottom:83px}
.s2 .m_feature-infinity .f_section3 .c_desc-type3:before {position:absolute;left:497px;bottom:-7px;width:1px;height:0;display:block;background:#4e82cd;content:'';}


.s2 .m_feature-infinity .f_section3 .g_s10e .c_desc-type3:before {left:624px}
.s2 .m_feature-infinity .f_section3 .o_prod-s10-plus:after {width:120px;height:120px;position:absolute;bottom:76px;left:145px;content:'';background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10-plus_design_infinity_finger.png') no-repeat;background-size:100% auto;z-index:5;opacity:0;transition:opacity 1s .6s}
.s2 .m_feature-infinity .f_section3 .o_prod-s10:after {width:120px;height:120px;position:absolute;bottom:119px;left:145px;content:'';background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_design_infinity_finger.png') no-repeat;background-size:100% auto;z-index:5;opacity:0;transition:opacity 1s .6s}

.s2 .m_feature-infinity .f_section3 .g_s10 .o_item-desc.view .c_desc-type3:after {width:497px}
.s2 .m_feature-infinity .f_section3 .g_s10 .o_item-desc.view .c_desc-type3:before {transition:height .4s .7s;height:25px}
.s2 .m_feature-infinity.s10 .f_section3 .g_s10 .o_item-desc.view .c_desc-type3:before {height:54px;}
.s2 .m_feature-infinity .f_section3 .g_s10e .o_item-desc.view .c_desc-type3:after {width:624px}
.s2 .m_feature-infinity .f_section3 .g_s10e .o_item-desc.view .c_desc-type3:before {transition:height .4s .7s;height:323px}
.s2 .m_feature-infinity .f_section3 .g_s10e .o_item-desc.view .c_desc-type3>span:after {transition:width .5s 1.2s;width:50px}
.s2 .m_feature-infinity .o_item-desc.view + .f_container .o_prod:after {opacity:1}


.s1 .m_feature-infinity {padding-bottom:0;}
.s1 .m_feature-infinity .f_header-s10 {padding:0}
.s1 .m_feature-infinity .f_header-s10 .c_tit-type2 {width:auto;min-height:0}
.s1 .m_feature-infinity .c_desc-type1 {margin-top: 20px;}
.s1 .m_feature-infinity .f_container {position:relative;left:50%;width:382px;margin-left:-191px;height:auto;overflow:visible;}
.s1 .m_feature-infinity .f_container .o_prod {position:absolute;top:0;width:100%;opacity:0;z-index:-1;visibility:hidden;}
.s1 .m_feature-infinity .f_container .o_prod.on {position:relative;opacity:1;z-index:0;visibility:visible;}
.s1 .m_feature-infinity .f_header-type1-clone {position:static;margin:25px 26px}
.s1 .m_feature-infinity .o_tab {margin:0 26px;}
.s1 .m_feature-infinity .o_item-desc {position:relative;width:306px;margin:0 auto;padding:0 20px 40px 70px; box-sizing:border-box;z-index:5;}
		.s1 .m_feature-infinity .c_desc-type3 {position:relative;display:none}
		.s1 .m_feature-infinity .c_desc-type3.on {display:block}
.s1 .m_feature-infinity .c_desc-type3 a {color:#4e82cd}
.s1 .m_feature-infinity .c_desc-type3 span {display:block;color:#4e82cd;font-size:15px;line-height:24px}
.s1 .m_feature-infinity .f_container img {width:382px}
.s1 .m_feature-infinity .f_section2 {padding-top:90px}
.s1 .m_feature-infinity .c_desc-type3:after {position:absolute;top:5px;left:-10px;width:1px;height:100%;padding-bottom:151px;content:'';background:#4e82cd;}

.s1 .m_feature-infinity .f_section3 {padding-top:80px}
.s1 .m_feature-infinity .f_section3 .o_item-area {position:relative}
		.s1 .m_feature-infinity .f_section3 .o_item-area .o_item {display:none}
		.s1 .m_feature-infinity .f_section3 .o_item-area .o_item.on {display:block}
.s1 .m_feature-infinity .f_section3 .g_s10 .f_container img {width:382px}
.s1 .m_feature-infinity .f_section3 .o_prod-s10-plus:after {width:100px;height:100px;position:absolute;bottom:63px;left:132px;content:'';background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10-plus_design_infinity_finger.png') no-repeat;background-size:100% auto;z-index:5;}
.s1 .m_feature-infinity .f_section3 .o_prod-s10:after {width:100px;height:100px;position:absolute;bottom:100px;left:132px;content:'';background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_design_infinity_finger.png') no-repeat;background-size:100% auto;z-index:5;opacity:1}
.s1 .m_feature-infinity .f_section3 .g_s10 .c_desc-type3:after {padding-bottom:225px}
.s1 .m_feature-infinity .f_section3 .g_s10 .c_desc-type3:before {position:absolute;top:5px;left:-10px;width:50px;border-bottom:1px solid #4e82cd;height:100%;padding-bottom:224px;content:'';}
.s1 .m_feature-infinity.s10 .f_section3 .g_s10 .c_desc-type3:after {padding-bottom:185px}
.s1 .m_feature-infinity.s10 .f_section3 .g_s10 .c_desc-type3:before {padding-bottom:185px}
.s1 .m_feature-infinity .f_section3 .g_s10e .c_desc-type3:after {padding-bottom:159px}
.s1 .m_feature-infinity .f_section3 .g_s10e .c_desc-type3:before {position:absolute;top:5px;left:-10px;width:225px;border-bottom:1px solid #4e82cd;height:100%;padding-bottom:159px;content:'';}
.s1 .m_feature-infinity .f_header-type1-clone .logo-wrap{position:relative;min-height:60px;padding:0 0 10px 70px}
.s1 .m_feature-infinity .f_header-type1-clone .display-logo{position:absolute;top:0;left:0;width:50px;}
.s1 .m_feature-infinity .f_header-type1-clone .display-logo img{width:100%}

.s1.color_yb .m_feature-infinity .f_section3 .c_desc-type3:before {background:transparent !important;}
.s1.color_yb .m_feature-infinity .f_section3 .c_desc-type3:before {border-color:#fff01f;}



/*! Dynamic AMOLED */
.m_feature_cinema-grade .c_tit-type3 {width:470px}
.m_feature_cinema-grade .f_container {position:static;height:auto;margin:50px 0 0;overflow:visible}
		.m_feature_cinema-grade .f_container > figure {position:relative;width:962.5px;height:700px;margin-left:auto;margin-right:auto;left:0;overflow:hidden;}
.m_feature_cinema-grade .f_container video,
.m_feature_cinema-grade .f_container canvas {position:absolute;top:0;left:0;width: 100%;height: 100%}
	.ie .m_feature_cinema-grade .f_container video {top:-1px}
.m_feature_cinema-grade .f_container > figure img {width:100%}
.m_feature_cinema-grade .o_area-inner {position:relative;padding:0 0 0 90px;overflow: hidden;box-sizing:border-box;min-height:90px;z-index:2;}
.m_feature_cinema-grade .o_area-inner figure {position: absolute;top:0;left:0;}
.m_feature_cinema-grade .o_area-inner .c_desc-type2 {width:740px;margin-bottom:10px;}

.m_feature_cinema-grade .f_header-s10 {padding-bottom:0 !important}
.s34 .m_feature-design.m_feature_cinema-grade .f_header-type1 {padding-top:212px}
.s2 .m_feature-design.m_feature_cinema-grade .f_header-type1 {padding-top:170px}
.s1 .m_feature-design.m_feature_cinema-grade .f_header-type1 {padding-top:120px}


.s4 .amoled .f_header-s10 .inner {width:760px}
.s4 .m_feature_cinema-grade .o_area-inner {margin-top:-140px !important;}
.s4 .m_feature_cinema-grade .o_area-inner .c_desc-type2 {width:740px}

.s3 .m_feature_cinema-grade .c_tit-type3 {width: 280px}
.s3 .m_feature_cinema-grade .f_container > figure {width:759px;height:auto;}
.s3 .m_feature_cinema-grade .o_area-inner {margin-top:-50px}

.s2 .m_feature_cinema-grade .f_header-type1 {padding-top: 60px}
.s2 .m_feature_cinema-grade .c_tit-type3 {width: 310px;}
.s2 .m_feature_cinema-grade .f_container {margin:47px 0 0}
.s2 .m_feature_cinema-grade .f_container > figure {width:685px;height:498px;}
.s2 .m_feature_cinema-grade .o_area-inner {padding-top:6px;margin-top:-40px}
	.s2 .m_feature_cinema-grade .o_area-inner .c_desc-type2 {width:604px}

.s1 .m_feature_cinema-grade .c_tit-type3 {width:auto;}
.s1 .m_feature_cinema-grade .c_desc-type1 {margin-top:20px}
.s1 .m_feature_cinema-grade .f_container {margin: 20px 0 0}
.s1 .m_feature_cinema-grade .f_container > figure {position:relative;left:50%;width:372px;height:auto;margin-left:-186px}
.s1 .m_feature_cinema-grade .o_area-inner {margin:-34px 26px 0;padding-left:70px;}
.s1 .m_feature_cinema-grade .o_area-inner img {width:50px;}
	.s1 .m_feature_cinema-grade .o_area-inner .c_desc-type2 {width:auto;margin-bottom:4px}


/*! eye care */
.m_feature_eye-care .o_area1 {float:left;}
.m_feature_eye-care .c_desc-type1 {width: 530px}
		.m_feature_eye-care .o_area2 {float:right;margin-top:-13px;padding-left:80px;box-sizing:border-box;}
		.m_feature_eye-care .graph {position:relative;overflow:hidden;}
.m_feature_eye-care .graph .svg {width:420px;height:252px;}
.m_feature_eye-care .graph .svg video,
.m_feature_eye-care .graph .svg canvas {position:absolute;left:0;top:0;width:420px;height:252px;}
		.ie .m_feature_eye-care .graph .svg video {top:-1px}
.m_feature_eye-care .graph ol {position:relative;margin-bottom: 24px;}
.m_feature_eye-care .graph li {position:absolute;top:0;width:100px;white-space:nowrap;margin-left:-50px;text-align:center;}
.m_feature_eye-care .graph .line1 {left:50px;text-align:left;}
.m_feature_eye-care .graph .line2 {left:105px}
.m_feature_eye-care .graph .line3 {left:200px;}
.m_feature_eye-care .graph .line4 {left:295px;}
.m_feature_eye-care .graph .line5 {right:0;text-align:right}
.m_feature_eye-care .graph span.c_graph-name {position:absolute;left:21px;top:
        59px;font-size:14px;line-height:18px;font-family:'SamsungOne';width:190px;text-align:center;box-sizing:border-box;padding:0 30px}
.m_feature_eye-care .graph .o_txt-area {padding:23px 11px 0;}
.m_feature_eye-care .graph .c_desc-type4 {position:relative;font-family:'SamsungSharpSans';font-weight:bold !important;font-size:13px;padding-left:43px;padding-right:60px;margin-bottom:12px;line-height:1.36;}
.m_feature_eye-care .graph .c_desc-type4 i {position:absolute; top:0; left:0; display:inline-block;width:40px;height:14px;vertical-align:middle;margin-right:3px;}
.m_feature_eye-care .graph .c_desc-type4 i.icon_line1 {background: url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_design_eye-care_icon1.png') no-repeat;}
.m_feature_eye-care .graph .c_desc-type4 i.icon_line2 {top:3px;background: url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_design_eye-care_icon2.png') no-repeat;}
.m_feature_eye-care .o_area2 figcaption {margin-top:12px;font-size:16px}
.m_feature_eye-care .o_area2 figure + figure {margin-top:40px}
.m_feature_eye-care .f_container {position:static;overflow:visible}
.m_feature_eye-care .o_content {position:relative;height:393px}
.m_feature_eye-care .o_content figure {position:absolute;width:1920px;left:50%;margin-left:-960px;bottom:0;height:auto}
.m_feature_eye-care .o_content figure img {width:100%}
.m_feature_eye-care .o_content figure.mask {z-index:3; pointer-events: none;}
.m_feature_eye-care .f_container .o_area-inner {margin-top: 45px}
.m_feature_eye-care .c_desc-type2 {overflow:hidden;padding-left:91px;min-height:68px;background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_design_eye-care_icon-certified.png') no-repeat 0 0;}
.m_feature_eye-care .c_desc-type2 a {text-decoration:underline}

.s4 .m_feature_eye-care .o_area2 {margin-top: -36px}
.s4 .m_feature_eye-care .c_tit-type3 {width:420px}
.s34 .m_feature_eye-care .f_header-type1 {position:relative;top:0;left:auto;right:auto;}

.s3 .m_feature_eye-care .f_container {padding-bottom:120px}
.s3 .m_feature_eye-care .c_tit-type3 {width:330px}
.s3 .m_feature_eye-care .c_desc-type1 {width:330px}
.s3 .m_feature_eye-care .o_area2 {padding-left: 20px}
.s3 .m_feature_eye-care .graph .o_txt-area {padding-top: 28px;}
.s3 .m_feature_eye-care .o_content {height:340px}
.s3 .m_feature_eye-care .o_content figure {width: 1520px;margin-left: -760px}

.s2 .m_feature_eye-care .f_container {padding-bottom:90px}
.s2 .m_feature_eye-care .o_content {height:300px}
.s2 .m_feature_eye-care .o_content figure {width: 1346px;margin-left:-673px}
.s2 .m_feature_eye-care .o_content figure img {width: 100%}
.s2 .m_feature_eye-care .o_area1 * {width:315px}
.s2 .m_feature_eye-care .c_desc-type1 {margin-top:-4px;line-height: 32px;}
.s2 .m_feature_eye-care .o_area2 {margin-top:-18px;padding-left:18px;}
.s2 .m_feature_eye-care .graph .svg {left:0;width:336px;height:202px}
.s2 .m_feature_eye-care .graph canvas,
.s2 .m_feature_eye-care .graph video,
.s2 .m_feature_eye-care .graph img {width:336px;height:202px}
.s2 .m_feature_eye-care .graph span.c_graph-name {font-size:11px;top:44px;left:17px;width:152px;padding:0 24px;}
.s2 .m_feature_eye-care .graph .o_txt-area {padding-top: 20px}
.s2 .m_feature_eye-care .graph .c_desc-type4 {padding-right:0;}
.s2 .m_feature_eye-care .f_container .o_area-inner {margin-top: 40px}

.s1 .m_feature_eye-care .o_area1 {float:none;}
.s1 .m_feature_eye-care .o_area2 {float:none;margin:10px 0 0;padding:0;}
.s1 .m_feature_eye-care .c_desc-type1 {width:100%;}
.s1 .m_feature_eye-care .graph {width:315px; margin:0 auto;}
.s1 .m_feature_eye-care .graph .svg {left:0;width:315px;height:189px}
.s1 .m_feature_eye-care .graph canvas,
.s1 .m_feature_eye-care .graph video,
.s1 .m_feature_eye-care .graph img {width:315px;height:189px}
.s1 .m_feature_eye-care .graph span.c_graph-name {font-size:11px;top:42px;left:17px;width:140px;padding:0 24px;}
.s1 .m_feature_eye-care .graph .o_txt-area {padding:38px 0 0 8px;}
.s1 .m_feature_eye-care .graph .c_desc-type4 {padding-left:36px;padding-right:0;}
.s1 .m_feature_eye-care .graph .c_desc-type4 i.icon_line2 {top:0}

.s1 .m_feature_eye-care .o_content {width:auto;height:100%;padding-bottom:20px;pointer-events:auto;}
.s1 .m_feature_eye-care .o_content figure {width:700px;margin-left:-360px;}
.s1 .m_feature_eye-care .o_content figure img {width: 1152px;margin-left:-194px}
.s1 .m_feature_eye-care .o_scroll {position:relative;width:100%;height: 245px;overflow:hidden;cursor:move;}
.s1 .m_feature_eye-care .o_point {display:block;height:20px;text-align:center;margin-top:20px;visibility:hidden;}
.s1 .m_feature_eye-care .o_point span {display:inline-block;width:9px;height:9px;background:transparent;border:1px solid #747474;box-sizing:border-box;border-radius:50%;margin-right:10px;vertical-align:middle;}
.s1 .m_feature_eye-care .o_point span.on {background: #747474;}
.s1 .m_feature_eye-care .scroll .o_content {overflow-x: scroll;}
.s1 .m_feature_eye-care .scroll .o_content figure {left:0;margin-left:-60px;overflow:hidden}
.s1 .m_feature_eye-care .scroll .o_point {visibility:visible;}
.s1 .m_feature_eye-care .f_container .o_area-inner {padding:32px 26px 0;margin:0}
.s1 .m_feature_eye-care .c_desc-type2 {-webkit-background-size:50px;background-size:50px;padding-left:68px}

	.s0 .m_feature_eye-care .graph {width:280px}
	.s0 .m_feature_eye-care .graph .svg {width:280px;height:auto}
	.s0 .m_feature_eye-care .graph canvas,
	.s0 .m_feature_eye-care .graph video,
	.s0 .m_feature_eye-care .graph img {width:280px;height:auto}
	.s0 .m_feature_eye-care .graph span.c_graph-name {width:124px;padding:0 12px}


/*! feature-Change */
.s4 .m_feature-change {padding:50px;}
.s34 .m_feature-change .c_tit-type2 {width: 690px}
.s3 .m_feature-change {padding:36px;}
.s2 .m_feature-change .c_tit-type2 {width: 596px}
.s1 .m_feature-change {padding:26px 26px 0;}
.s1 .m_feature-change .f_header-type1 {padding:120px 0;}
.s1 .m_feature-change .c_tit-type2 {width: auto}

/*! fake Area */
.m_content-design.style {background: #fff;}
.s4.load .m_content_fake {position: absolute; top:70px; left: 50%; width:1920px;margin-left:-960px;overflow:hidden;}

.s4.load.viewport-in .m_content_fake {width:100%;margin-left:-50%}
.s3.load .m_content_fake {position: absolute; top:60px; left: 50%; width:100%;margin-left:-50%;overflow:hidden;}
.s34 .fixed .m_content_fake {position: fixed}

/*! colors */
.s4 .m_feature-design.m_feature_colors {padding-top:90px}
.m_feature_colors .c_tit-type3 {width:390px}
.m_feature_colors .o_areas {width: 100%; margin:0 auto;overflow: visible;}
.m_feature_colors .o_areas:after {display: block;clear:both; content:'';}
.m_feature_colors .o_areas + .o_areas {margin-top: 50px;}
.m_feature_colors .f_container {position:relative;margin-top:90px;top:0;left:0;right:0;height:auto;overflow:hidden;}
.m_feature_colors .o_area-inner {position:relative;}
.m_feature_colors .o_tab-color {position:absolute;display:none}
.m_feature_colors .o_tab-color.on {position:relative;display:block}
.m_feature_colors .o_tab {margin-left:-10px;margin-top:7px;}
.m_feature_colors .o_tab li {display: inline-block;}
.m_feature_colors .o_tab a {position:relative;display:block;padding:0 20px 40px;font-size:12px;line-height:32px;color:#747474;font-family:'SamsungSharpSans';font-weight:bold !important;}
.m_feature_colors .o_tab a > img {opacity:.3}
.m_feature_colors .o_tab a > span {opacity: .6}
.m_feature_colors .o_tab img {display:block;}
.m_feature_colors .o_tab a span {position:absolute;bottom:0;left:50%;-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);display:block;text-align:center;}
.m_feature_colors .o_tab li a:hover {color:#000;transition:.25s;-webkit-transition:.25s}
.m_feature_colors .o_tab.only_one-fade li a.on>* {color:#000;opacity:1;text-decoration:underline;transition:.25s;-webkit-transition:.25s}
.m_feature_colors .o_tab li a span {white-space: nowrap;}
.m_feature_colors .o_tab-cont {position: relative;}
.m_feature_colors .o_tab-cont .phones {position:absolute;top:0;left:0;width:100%;opacity:0;visibility:hidden;text-align:center;pointer-events: none;white-space: nowrap}
.m_feature_colors .o_tab-cont .phones.on {position:relative;opacity: 1;visibility:visible;pointer-events: auto}
.m_feature_colors .o_tab-cont .phones li {position:relative; display: inline-block;}
.m_feature_colors .o_tab-cont .phones img.out {position:absolute;top:0;left:0;}
.m_feature_colors .color-chip .blind {font-size:12px}

.m_feature_colors .o_between {display:inline-block;}
.m_feature_colors .o_between li+li{margin-left: 130px}
.m_feature_colors .color-chip {margin-top: 10px;}
.m_feature_colors .icon_plus {position: absolute;z-index:2;top:64%;left:50%;margin-left: -16px;width: 32px;height: 32px;background: #fff url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_design_icon_plus.jpg') 50% no-repeat;border-radius: 50%;-ms-border-radius: 50%; opacity: 0;transition: opacity .25s}

@-webkit-keyframes imgload {
    0% {-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes imgload {
    0% {-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}
.m_feature_colors.loading .f_container:after {
    position:absolute;top:50%;left:50%;width:60px; height:60px;margin:-30px 0 0 -30px; background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_loding_bk.png') no-repeat; background-size:contain;z-index:10;-webkit-animation: imgload 2s linear infinite;animation: imgload 2s linear infinite;content:'';z-index:10;
}
.m_feature_colors.loading.view-pop .f_zoom-popup:after {
    position:absolute;top:50%;left:50%;width:60px; height:60px;margin:-30px 0 0 -30px; background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_loding_bk.png') no-repeat; background-size:contain;z-index:10;-webkit-animation: imgload 2s linear infinite;animation: imgload 2s linear infinite;content:'';z-index:10;
}

.s34 .m_feature_colors a:hover .icon_plus {opacity: 1}

.s3 .m_feature_colors .c_tit-type3 {width: 324px}
.s34 .m_feature_colors .f_header-type1 + .f_container {margin-top: 70px;}
.s34 .m_feature_colors .o_between li+li {margin-left:95px}
.s34 .m_feature_colors .o_list-item img {height:auto}
.s12 .m_feature_colors .o_list-item img {height:auto}
.s34 .m_feature_colors .o_list-item.item1 img {width: 150px}
.s34 .m_feature_colors .o_list-item.item2 img {width: 147px}
.s34 .m_feature_colors .o_list-item.item3 img {width: 127px}
.s34 .m_feature_colors .o_list-item.item4 img {width: 99px}
.s34 .m_feature_colors .o_list-item.item5 img {width: 65px}
.s34 .m_feature_colors .o_list-item.item6 img {width: 22px}
.s34 .m_feature_colors .o_list-item.item7 img {width: 65px}
.s34 .m_feature_colors .o_list-item.item8 img {width: 99px}
.s34 .m_feature_colors .o_list-item.item9 img {width: 127px}
.s34 .m_feature_colors .o_list-item.item10 img {width: 147px}
.s34 .m_feature_colors .o_list-item.item11 img {width: 150px}

.s2 .m_feature_colors .o_list-item.item1 img {width: 150px}
.s2 .m_feature_colors .o_list-item.item2 img {width: 147px}
.s2 .m_feature_colors .o_list-item.item3 img {width: 127px}
.s2 .m_feature_colors .o_list-item.item4 img {width: 99px}
.s2 .m_feature_colors .o_list-item.item5 img {width: 65px}
.s2 .m_feature_colors .o_list-item.item6 img {width: 22px}
.s2 .m_feature_colors .o_list-item.item7 img {width: 65px}
.s2 .m_feature_colors .o_list-item.item8 img {width: 99px}
.s2 .m_feature_colors .o_list-item.item9 img {width: 127px}
.s2 .m_feature_colors .o_list-item.item10 img {width: 147px}
.s2 .m_feature_colors .o_list-item.item11 img {width: 150px}

.s2 .m_feature_colors {position:relative !important;top:auto;right:auto;bottom:auto;left:auto}
.s2 .m_feature_colors .o_tab-cont {width:1024px;left: 50%;margin-left: -347px;margin-bottom: 30px;}
.s2 .m_feature_colors .c_tit-type3 {width: 245px}
.s2 .m_feature_colors .color-chip {margin-top:20px}
.s2 .m_feature_colors .color-chip a{width: 50px;height: 50px;margin-right: 4px}
.s2 .m_feature_colors .color-chip a:before {width: 30px;height: 30px;margin: -15px 0 0 -15px;}
.s2 .color-chip a.on:after, .s2 .color-chip a:hover:after {margin: -25px 0 0 -25px;}
.s2 .m_feature_colors .o_tab {margin: 0 0 0 -20px;}
.s2 .m_feature_colors .o_tab a {font-size:12px;line-height:24px;padding:0 0 40px;}
.s2 .m_feature_colors .o_tab img {width:100%}
.s2 .m_feature_colors .tab1 {width: 54px}
.s2 .m_feature_colors .tab2 {width: 56px}
.s2 .m_feature_colors .tab3 {width: 58px}
.s2 .m_feature_colors .o_tab li+li {margin-left:26px;text-align:center}
.s2 .m_feature_colors .o_area-inner {width: 100%; overflow-x: auto}
.s2 .m_feature_colors .f_container {margin-top:80px;height:334px}
.s2 .m_feature_colors .o_between li {margin:0 39px}
.s2 .m_feature_colors .o_areas + .o_areas {margin-top: 40px}

.s1 .m_feature_colors {position:relative !important;top:auto;right:auto;bottom:auto;left:auto}
.s1 .m_feature_colors {padding-top: 86px;}
.s1 .m_feature_colors .c_tit-type3 {width:auto;}
.s1 .m_feature_colors .c_desc-type1 {margin-top:23px}
.s1 .m_feature_colors .o_areas + .o_areas {margin-top: 0}
.s1 .m_feature_colors .o_tab {position:static;padding:30px 0 35px;margin:0}
.s1 .m_feature_colors .o_tab li+li {margin-left:20px;}
.s1 .m_feature_colors .o_tab a {position:relative;padding:0;text-align:center;}
.s1 .m_feature_colors .o_tab img {display:block; margin:0 auto;}
.s1 .m_feature_colors .o_tab .tab1 img {width:43px}
.s1 .m_feature_colors .o_tab .tab2 img {width:45px}
.s1 .m_feature_colors .o_tab .tab3 img {width:47px}
.s1 .m_feature_colors .o_tab span {position:static;-ms-transform:none;-webkit-transform:none;transform:none;margin-top:4px}
.s1 .m_feature_colors .c_tit-type4 {font-size:15px;line-height:24px;}

.s1 .m_feature_colors .f_container {margin-top:55px;height:274px}
.s1 .m_feature_colors .o_area-inner {width:100%;overflow-x:auto}
.s1 .m_feature_colors .o_between li {margin:0 22px}
.s1 .m_feature_colors .o_between img {width:auto;height:274px;}
.s1 .m_feature_colors .o_tab-cont {margin-bottom:30px}
.s1 .m_feature_colors .o_tab-cont .phones.on {text-align:left; margin:0 26px;}
.s1 .m_feature_colors figure {display: inline-block;}
.s1 .m_feature_colors figure + figure {margin-left: 24px}

/*! zoom popup */
.s1.no-scroll #subnav {opacity:0 !important;pointer-events:none;}
.ie.no-scroll #subnav {z-index:-1;}
.s1.no-scroll .f_backtotop {display:none}

.m_feature_colors {position:relative !important}
.m_feature_colors .f_zoom-popup {position:absolute; left:-200%; bottom:0; width:0%; height:0%; text-align:center; overflow:hidden; opacity:0; z-index:10}
.m_feature_colors.view-pop .f_zoom-popup.inview {left:50%;bottom:0;width:100%;-max-width:1920px;overflow:hidden; height:700px; z-index:9;margin-left:-50%;;background: #fff;transition:opacity .35s;-webkit-transition:opacity .35s;opacity:1;}
.m_feature_colors .f_zoom-popup .o_btn-close {position: absolute; top: 50px; right: 100px;border-radius:50%;}
.m_feature_colors .f_zoom-popup .o_btn-close a {display:none;width: 58px;height: 58px;text-indent:-999px;overflow:hidden;font-size: 0;}
.m_feature_colors .f_zoom-popup .o_btn-close a:before,
.m_feature_colors .f_zoom-popup .o_btn-close a:after {
    position:absolute;top:0;left:0;width:100%;height:100%;background:url('//image-us.samsung.com/us/smartphones/galaxy-s10/v2/design/images/galaxy-s10_design_btn_popup-close.png') 50% 0 no-repeat;-webkit-background-size:100% auto;-ms-background-size:100% auto;background-size:100% auto;opacity:1;transition:opacity .25s;content:'';
}
.m_feature_colors .f_zoom-popup .o_btn-close a:after{background-position:50% 100%;opacity:0;}
.s34 .m_feature_colors .f_zoom-popup .o_btn-close a:hover:before {opacity:0}
.s34 .m_feature_colors .f_zoom-popup .o_btn-close a:hover:after {opacity:1}
.m_feature_colors .f_zoom-popup .o_zoom-img {cursor:move;outline:0}
.m_feature_colors.remove-view-pop .f_zoom-popup.inview {transition:opacity .5s;-webkit-transition:opacity .5s; opacity:0; background:none}
.m_feature_colors.view-pop .f_zoom-popup .o_btn-close a {display:block;}


/*.s3 .m_feature_colors.view-pop .f_zoom-popup.inview {height:578px}*/

.s2 .m_feature_colors .f_zoom-popup .o_btn-close {top:24px;right:30px}

/*.s2 .m_feature_colors.view-pop .f_zoom-popup.inview {top:auto;bottom:110px;height:715px}*/
/*.s2 .m_feature_colors.view-pop .f_zoom-popup.inview img {width:760px}*/

.s1 .m_feature_colors.view-pop .f_zoom-popup {position:fixed; left:50%; top:0px; width:720px; height:100%; margin-left:-360px}
.s1 .m_feature_colors.view-pop .f_zoom-popup .o_zoom-img {width:720px; height:100%}
.s1 .m_feature_colors.view-pop .f_zoom-popup.inview img {width:360px;margin-top:50px;margin-bottom:20px;}
.s1 .m_feature_colors .f_zoom-popup .o_btn-close {position:fixed;top:15px;right:15px}
.s1 .m_feature_colors .f_zoom-popup .o_btn-close a {width:44px;height:44px;}


/*! Materials */
.m_feature_materials .f_container {position:relative;height:auto;overflow:visible;margin-top:88px;}
.m_feature_materials figure {position:relative}
.m_feature_materials .c_prod-name {display:block;font-family:'SamsungSharpSans';font-weight:bold !important;font-size:16px;padding-bottom:20px}
.m_feature_materials .o_area1 .c_prod-name {text-align:right;padding-right: 50px;}
.m_feature_materials .o_area2 .c_prod-name {text-align:left;padding-left: 50px;}
.m_feature_materials .o_area-inner {padding-top: 40px}
.m_feature_materials .c_desc-type2 + .c_desc-type2 {margin-top:4px}
.m_feature_materials .o_areas .blind {font-size:12px}

.s34 .m_feature_materials .c_tit-type3 {width:394px}
.s3 .m_feature_materials .c_tit-type3 {width: 310px}


.s2 .m_feature_materials .c_tit-type3 {width: 310px}
.s2 .m_feature_materials .f_container {margin-top:84px}
.s2 .m_feature_materials .f_container .o_area1 {text-align:right}
.s2 .m_feature_materials .f_container .o_area1 {-ms-transform: translateX(-60px);-webkit-transform: translateX(-60px);transform: translateX(-60px); opacity: 0;}
.s2 .m_feature_materials .f_container .o_area2 {-ms-transform: translateX(60px);-webkit-transform: translateX(60px);transform: translateX(60px); opacity: 0;}
.s2 .m_feature_materials .f_container .view .o_area1 {-ms-transform: none;-webkit-transform: none;transform: none; opacity: 1; transition: transform .8s ease-out .5s, opacity .5s;-webkit-transition:-webkit-transform .8s ease-out .5s, opacity .5s;}
.s2 .m_feature_materials .f_container .view .o_area2 {-ms-transform: none;-webkit-transform: none;transform: none; opacity: 1; transition: transform .8s ease-out .5s, opacity .5s;-webkit-transition:-webkit-transform .8s ease-out .5s, opacity .5s;}
.s2 .m_feature_materials .c_prod-name {font-size:18px}
.s2 .m_feature_materials .o_area1 .c_prod-name {padding-right: 40px;}
.s2 .m_feature_materials .o_area2 .c_prod-name {padding-left: 40px;}
.s2 .m_feature_materials .o_area2 .c_desc-type1 {width:334px}
.s2 .m_feature_materials .o_areas img {width:672px}
.s2 .m_feature_materials .o_area-inner {padding-top: 35px}

.s1 .m_feature_materials .c_desc-type1 {margin-top:20px}
.s1 .m_feature_materials .f_container {margin-top:60px;}
.s1 .m_feature_materials .f_container .o_areas {position:static;left:0;-webkit-transform:none;-ms-transform:none;transform:none;width: 306px;margin:0 auto;}
.s1 .m_feature_materials .f_container .o_area1 {float: left;}
.s1 .m_feature_materials .f_container .o_area2 {float: right;}
.s1 .m_feature_materials .o_areas figure {width: 152px;}
.s1 .m_feature_materials .o_areas img {width: 100%}
.s1 .m_feature_materials .c_prod-name {font-size:14px;margin-bottom:10px;padding:0;text-align:center}
.s1 .m_feature_materials .o_area-inner {margin:28px 26px 0;padding-top:0;}

.s1 .m_feature_materials .f_container .o_area1 {-ms-transform: translateY(60px);-webkit-transform: translateY(60px);transform: translateY(60px); opacity: 0;}
.s1 .m_feature_materials .f_container .o_area2 {-ms-transform: translateY(60px);-webkit-transform: translateY(60px);transform: translateY(60px); opacity: 0;}
.s1 .m_feature_materials .f_container .view .o_area1 {-ms-transform: none;-webkit-transform: none;transform: none; opacity: 1; transition: transform 1.2s, opacity 1s;-webkit-transition:-webkit-transform 1.2s, opacity 1s;}
.s1 .m_feature_materials .f_container .view .o_area2 {-ms-transform: none;-webkit-transform: none;transform: none; opacity: 1; transition: transform 1.2s, opacity 1s;-webkit-transition:-webkit-transform 1.2s, opacity 1s;}


/*! Dimension */
.s34 .m_feature_dimension .f_container {margin-top:0 !important;}
.s34 .m_feature_dimension .c_tit-type3 .inner {display:block;width:360px}
.s34 .m_feature_dimension .c_desc-type1 .inner {display:block;width:360px}
.s34 .m_feature_dimension .c_desc-type2 .inner {display:block;width:360px}
.m_feature_dimension .o_area1 {vertical-align:middle;}
.m_feature_dimension .o_area2 {vertical-align:middle}
.m_feature_dimension .o_dimension_phones {position:relative;white-space:nowrap;overflow:visible;text-align: right;}
.m_feature_dimension .o_dimension_phones img {width: 100%}
.m_feature_dimension .o_phone {position:absolute;bottom:0;display:inline-block;
    -webkit-transition: 1.35s cubic-bezier(.5,.01,.2,1);
    -o-transition: 1.35s cubic-bezier(.5,.01,.2,1);
    -moz-transition: 1.35s cubic-bezier(.5,.01,.2,1);
    transition: 1.35s cubic-bezier(.5,.01,.2,1);
}
.m_feature_dimension .phone1 {z-index:3;width:230px;right:9px;}
.m_feature_dimension .phone2 {z-index:2;width:234px;right:7px;}
.m_feature_dimension .phone3 {position:relative;z-index:1;width:245px}
.m_feature_dimension figure.screen {position:absolute;left:0;width:100%;z-index:1}
.m_feature_dimension figure.phone {position: relative;}
.m_feature_dimension .o_size_area {position:absolute;left:50%;top:13px;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);margin-left:1px;}
.m_feature_dimension .phone1 .o_size_area {width:206px;height:434px;margin:1px 0 0 2px}
.m_feature_dimension .phone2 .o_size_area {width:215px;height:459px}
.m_feature_dimension .phone3 .o_size_area {width:228px;height:485px}

.m_feature_dimension .arrows {opacity:0;position: absolute; top:50%; left:50%; width:0; height:0; transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%); background-size:100% 100%;background-repeat:no-repeat;}
.m_feature_dimension .c_prod-info {position:absolute;left:10px;right:10px;height:156px;bottom:0;z-index:5;opacity:0;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box;padding-top:25px;padding-left:43px;}
.m_feature_dimension .c_prod-info * {display:block;font-family:'SamsungSharpSans';font-weight:bold !important;font-size:16px;line-height: 24px;}
.m_feature_dimension .phone1 .arrows {background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/0624/galaxy-s10_design_dimension_arrows1_v2.png')}
.m_feature_dimension .phone2 .arrows {background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/0624/galaxy-s10_design_dimension_arrows2_v2.png')}
.m_feature_dimension .phone3 .arrows {background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/0624/galaxy-s10_design_dimension_arrows3_v2.png')}
.m_feature_dimension .phone4 .arrows {background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/0624/galaxy-s105g_design_dimension_arrows4_v2.png')}

.m_feature_dimension .phone2 .c_prod-info {padding-left:57px;}
.m_feature_dimension .phone3 .c_prod-info {padding-left:68px;}
.m_feature_dimension .slide .c_prod-info{opacity: 1; -webkit-transition: opacity 1s .55s; -o-transition: opacity 1s .55s; -moz-transition: opacity 1s .55s; transition: opacity 1s .55s;}
.m_feature_dimension .slide .phone1{right:343px}
.m_feature_dimension .slide .phone2{right:173px}
.m_feature_dimension .screen-off .arrows {width: 100%; height: 100%;opacity:1;transition:width .85s ease,height .85s ease, opacity .35s; transition-delay:.45s;}
.design .m_feature_dimension .c_prod-size {position: absolute; top:50%; left: 10%; right: 10%; text-align:center; color:#fff;font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 36px;line-height: 1;transform: translateY(-50%);-ms-transform: translateY(-50%);}
.design .m_feature_dimension .c_prod-size span {color: #fff;}

.m_feature_dimension .o_dimension_phones .dimension-b0-n {position:relative;width:447px;margin:0 auto;}
.m_feature_dimension .o_dimension_phones.slide .dimension-b0-n .phone2 {right:202px}
.m_feature_dimension .f_header-type1-clone {position: static !important}

.s4 .m_feature_dimension .o_area1 {position:relative;top:-52px}
.s3 .m_feature_dimension .o_area1 .inner {width: 324px}
.s4 .m_feature_dimension .phone1 .c_prod-size {margin-top:5px}
.s4 .m_feature_dimension .phone2 .c_prod-size {margin-top:5px}
.s4 .m_feature_dimension .phone3 .c_prod-size {margin-top:4px}

.s3 .m_feature_dimension .phone1 {width:196px;right:-2px}
.s3 .m_feature_dimension .phone2 {width:198px;right:-4px}
.s3 .m_feature_dimension .phone3 {width:208px;right:-9px}
.s3 .m_feature_dimension .o_size_area{top:11px}
.s3 .m_feature_dimension .phone1 .o_size_area {width:176px;height:370px}
.s3 .m_feature_dimension .phone2 .o_size_area {width:183px;height:389px}
.s3 .m_feature_dimension .phone3 .o_size_area {width:193px;height:411px}
.s3 .m_feature_dimension .slide .phone1{right:276px}
.s3 .m_feature_dimension .slide .phone2{right:130px}
.s3 .m_feature_dimension .c_prod-info {height:138px}
.s3 .m_feature_dimension .c_prod-info * {font-size:14px; line-height:20px;}
.s3 .m_feature_dimension .phone1 .c_prod-info {padding-left:42px}
.s3 .m_feature_dimension .phone2 .c_prod-info {padding-left:52px}
.s3 .m_feature_dimension .phone3 .c_prod-info {padding-left:68px}
.s3 .m_feature_dimension .phone1 .c_prod-size {margin-top:5px}
.s3 .m_feature_dimension .phone2 .c_prod-size {margin-top:3px}
.s3 .m_feature_dimension .phone3 .c_prod-size {margin-top:4px;margin-left:18px}
.s3 .m_feature_dimension .o_dimension_phones .dimension-b0-n {width:380px}
.s3 .m_feature_dimension .o_dimension_phones.slide .dimension-b0-n .phone2 {right:172px}

.s2 .m_feature_dimension .o_dimension_phones {width: 572px;margin:0 auto;}
.s2 .m_feature_dimension .o_area1 {display:block;width: 100%;}
.s2 .m_feature_dimension .o_area2 {margin-top: 90px;display:block;width: 100%;}
.s2 .m_feature_dimension .o_area1 .f_header-type1 {overflow: hidden;}
.s2 .m_feature_dimension .o_area1 .c_tit-type3 {float:left;width:50%}
.s2 .m_feature_dimension .o_area1 .c_desc-type1{float:left;width:50%;}
.s2 .m_feature_dimension .o_area1 .c_desc-type2{float:right;width:50%}
.s2 .m_feature_dimension .c_tit-type3 + .c_desc-type1{padding-top:0}
.s2 .m_feature_dimension .c_tit-type3 .inner {display:block;width: 294px}
.s2 .m_feature_dimension .c_prod-info * {font-size:20px;line-height:26px;}
.s2 .m_feature_dimension .phone1{right:173px}
.s2 .m_feature_dimension .phone2{right:170px}
.s2 .m_feature_dimension .phone3{right:164px}
.s2 .m_feature_dimension .slide .phone1{right:341px}
.s2 .m_feature_dimension .slide .phone3{right:0}
.s2 .m_feature_dimension .f_header-type1-clone {margin-top: 30px}
.s2 .m_feature_dimension .phone1 .c_prod-size {margin-top:5px}
.s2 .m_feature_dimension .phone2 .c_prod-size {margin-top:5px}
.s2 .m_feature_dimension .phone3 .c_prod-size {margin-top:4px}
.s2 .m_feature_dimension .c_prod-info{padding-top:35px;padding-left:33px}
.s2 .m_feature_dimension .phone2 .c_prod-info{padding-left:53px;}
.s2 .m_feature_dimension .phone3 .c_prod-info{padding-left:68px;}

.s1 .m_feature_dimension .o_dimension_phones {width: 286px;margin:0 auto;}
.s1 .m_feature_dimension .o_area1 {display:block;width: 100%;}
.s1 .m_feature_dimension .o_area2 {margin-top: 45px;display:block;width: 100%;}
.s1 .m_feature_dimension .o_area1 .f_header-type1 {overflow: hidden;}
.s1 .m_feature_dimension .o_area1 .c_tit-type3 .inner {width: auto}
.s1 .m_feature_dimension .phone1 {width:115px;}
.s1 .m_feature_dimension .phone2 {width:117px;}
.s1 .m_feature_dimension .phone3 {width:122px}
.s1 .m_feature_dimension .o_size_area {top:7px;}
.s1 .m_feature_dimension .c_prod-size {font-size: 18px !important;}

.s1 .m_feature_dimension .c_prod-info {left:5px;right:5px;height:70px;padding:0 0 0 15px}
.s1 .m_feature_dimension .c_prod-info * {font-size:12px;line-height:18px;}
.s1 .m_feature_dimension .phone2 .c_prod-info {padding-left:28px}
.s1 .m_feature_dimension .phone3 .c_prod-info {padding-left:34px}
.s1 .m_feature_dimension .o_dimension_phones .dimension-b0-n {width:223px}
.s1 .m_feature_dimension .o_dimension_phones .dimension-b0-n .phone3 .c_prod-info {padding-left:28px}
.s1 .m_feature_dimension .o_dimension_phones.slide .dimension-b0-n .phone2 {right:101px}
.s1 .m_feature_dimension .f_header-type1-clone {padding:28px 26px 0;}
	.s0 .m_feature_dimension .c_prod-info * {white-space:normal}

.s1 .m_feature_dimension .phone1{right:84px}
.s1 .m_feature_dimension .phone2{right:83px}
.s1 .m_feature_dimension .phone3{right:81px}
.s1 .m_feature_dimension .slide .phone1{right:171px}
.s1 .m_feature_dimension .slide .phone3{right:0}
.s1 .m_feature_dimension .slide .phone3 img {position:relative;top:-1px}
.s1 .m_feature_dimension .phone1 .o_size_area {width:101px;height:216px}
.s1 .m_feature_dimension .phone2 .o_size_area {width:106px;height:230px}
.s1 .m_feature_dimension .phone3 .o_size_area {width:113px;height:240px}
.s1 .m_feature_dimension .phone1 .o_size_area .arrows{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/0624/galaxy-s10_design_dimension_arrows1_v2.png');}
.s1 .m_feature_dimension .phone2 .o_size_area .arrows{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/0624/galaxy-s10_design_dimension_arrows2_v2.png');}
.s1 .m_feature_dimension .phone3 .o_size_area .arrows{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/0624/galaxy-s10_design_dimension_arrows3_v2.png');}
.s1 .m_feature_dimension .phone4 .o_size_area .arrows{background-image:url('//image-us.samsung.com/us/smartphones/galaxy-s10/0624/galaxy-s105g_design_dimension_arrows4_v2.png');}
.s1 .m_feature_dimension .phone1 .c_prod-size {margin-top:3px}
.s1 .m_feature_dimension .phone2 .c_prod-size {margin-top:3px}
.s1 .m_feature_dimension .phone3 .c_prod-size {margin-top:2px}


/*! One UI */
.m_feature_one-ui {padding: 120px 0}
.m_feature_one-ui .c_tit-type3 {width: 380px}
.m_feature_one-ui .f_container {position:static;}
.m_feature_one-ui .o_area-inner {position: relative;}
.m_feature_one-ui .o_area-inner img {width:100%}

.m_feature_one-ui ul.screens {overflow: hidden;}
.m_feature_one-ui ul.screens > li {float: left;}
.m_feature_one-ui ul.screens:after {display: block;clear:both;content:'';}
.m_feature_one-ui ul.screens figure {width: 260px;float: left}
.m_feature_one-ui ul.screens figure + figure,
.m_feature_one-ui ul.screens li + li {margin-left: 33px}
.m_feature_one-ui ul.screens img {width: 100%}
.m_feature_one-ui .c_prod-name {margin-top: 26px;font-family: 'SamsungSharpSans';font-weight:bold !important;font-size: 16px;text-align: center;}
.m_feature_one-ui .o_yt-layer {position:absolute;top:0;left:-9999px;width:100%;height:100%;opacity:0;transition:opacity .8s; -webkit-transition:opacity .8s;background: #000;}
.m_feature_one-ui .o_yt-layer .yt_desc {display:none}

.m_feature_one-ui .o_yt-layer iframe {width:100%;height:100%}
.m_feature_one-ui .o_yt-layer a.close {position:absolute;right:37px;top:37px;z-index:11;display:none}
.m_feature_one-ui.playing .o_yt-layer{opacity:1;left:0;z-index:1}
.m_feature_one-ui.playing .c_btn-play {display:none}
.m_feature_one-ui.playing .o_yt-layer a.close {display:block;-webkit-transition:top 0.2s ease-in-out;-moz-transition:top 0.2s ease-in-out;transition:top 0.2s ease-in-out;}
.m_feature_one-ui.playing .o_yt-layer .yt_desc {display:block}
.s34 .m_feature_one-ui.playing .o_yt-layer:hover a.close,
.s34 .m_feature_one-ui.playing .o_yt-layer:focus a.close {top:80px;}

.s4 .m_feature_one-ui .f_container {margin-top: 95px}
.s4 .m_feature_one-ui .o_area-inner .o_youtube {margin-left: -94px;}
.s4 .m_feature_one-ui .o_area-inner .o_youtube img {width:auto;}
.s4 .m_feature_one-ui .o_yt-layer {width:1328px;margin-left:-94px}

.s3 .m_feature_one-ui ul.screens figure {width: 198px}
.s3 .m_feature_one-ui ul.screens figure + figure,
.s3 .m_feature_one-ui ul.screens li + li {margin-left: 24px}
.s3 .m_feature_one-ui .f_container {margin-top: 75px;overflow: visible;}
.s3 .m_feature_one-ui .o_yt-layer a.close {width:50px;top:20px;right:20px}
.mobile.s3 .m_feature_one-ui .o_yt-layer a.close{top: -50px;}

.s2 .m_feature_one-ui .f_header-type1 .c_tit-type3 {width: 310px;}
.s2 .m_feature_one-ui .f_container {margin-top: 76px;overflow: visible;}
.s2 .m_feature_one-ui ul.screens figure {width: 160px}
.s2 .m_feature_one-ui ul.screens figure + figure,
.s2 .m_feature_one-ui ul.screens li + li {margin-left: 18px}
.s2 .m_feature_one-ui.playing .o_area-inner {width:693px;height:390px;}
.s2 .m_feature_one-ui .o_yt-layer a.close {width:50px;top:-50px;right:20px}


.s1 .m_feature_one-ui .c_tit-type3 {width: auto}
.s1 .m_feature_one-ui .o_area2 {margin-top: 20px}
.s1 .m_feature_one-ui .o_area-inner {margin:37px auto 0;max-width:360px;}
.s1 .m_feature_one-ui ul.screens {box-sizing:border-box;padding-left:10px;padding-right:10px;overflow:visible;}
.s1 .m_feature_one-ui ul.screens li {text-align:center;box-sizing: border-box;padding:0 10px}
	.s1 .m_feature_one-ui ul.screens figure {display:inline-block;width:157.5px;float:none;padding:0 10px;box-sizing: border-box;vertical-align:top;}
.s1 .m_feature_one-ui ul.screens figure + figure,
.s1 .m_feature_one-ui ul.screens li + li {margin:0;}
.s1 .m_feature_one-ui .c_prod-name {margin-top:13px}

.s1 .m_feature_one-ui .o_paging {position:relative;margin-top:26px;text-align:center;font-size:0;line-height:0;}
.s1 .m_feature_one-ui .o_paging li {display:inline-block;}
.s1 .m_feature_one-ui .o_paging a {display: block;text-align:center;box-sizing:border-box;}
.s1 .m_feature_one-ui .o_paging a span {width:9px;height:9px;display:inline-block;border-radius:50%;-webkit-border-radius:50%;background: transparent;
    border: 1px solid #747474;box-sizing:border-box;}
.s1 .m_feature_one-ui .o_paging li + li {margin-left: 12px}
.s1 .m_feature_one-ui .o_paging .on a span {background:#666;}
.s1 .m_feature_one-ui.playing .o_area-inner {width:361px;height:203px;}
.s1 .m_feature_one-ui .o_yt-layer a.close {right:15px; top:-30px;}
.s1 .m_feature_one-ui .o_yt-layer a.close img {width:30px;height:auto;}

.s0 .m_feature_one-ui ul.screens figure {width:138px}


/*! Package */
.m_content-design.package {background: #fff;}

.s34 .design .m_feature_package .f_header-s10 {padding-bottom:80px;}
.s34 .m_feature_package {padding:0;}
.m_feature_package .f_container {position:static;padding-bottom: 210px}
.m_feature_package .o_prod-box {white-space:nowrap;font-size:0;}
.m_feature_package .package-inbox-type-b .o_prod-box,
.m_feature_package .package-inbox-type-d .o_prod-box {display:block;padding-left:166px}
.m_feature_package .o_prod-box figure {display:inline-block}
.m_feature_package .o_prod-etc ul:after {display:block;clear:both;content:'';}
		.m_feature_package .o_prod-etc li {float:left;}
.m_feature_package .c_prod-name {font-family:'SamsungSharpSans';font-weight:bold !important;font-size:16px;text-align:center}
.m_feature_package .o_area-inner .c_desc-type2 {margin-top:90px}

.s4 .m_feature_package .o_area-inner {padding:0 54px;box-sizing:border-box;}
	.s4 .m_feature_package .o_prod-etc li {width:16.666666667%}
	.s4 .m_feature_package .o_prod-etc li figcaption {padding:0 12px;box-sizing:border-box}
	.s4 .m_feature_package .o_prod-etc li.cell2 {width: 33.333333333%}

.s3 .m_feature_package .f_container img {width: 100%}
.s3 .m_feature_package .o_area-inner {width:756px}
.s3 .m_feature_package .o_prod-box .item1,
.s3 .m_feature_package .o_prod-box .item2 {width: 287px}
.s3 .m_feature_package .o_prod-box .item3 {width: 196px}
	.s3 .m_feature_package .o_prod-etc li figcaption,
	.s2 .m_feature_package .o_prod-etc li figcaption {padding:0 12px;box-sizing:border-box;}
.s3 .m_feature_package .o_prod-etc li,
.s2 .m_feature_package .o_prod-etc li {width: 16.666666667%}
.s2 .m_feature_package .o_prod-etc li.cell2,
.s3 .m_feature_package .o_prod-etc li.cell2 {width: 33.333333333%}
.s3 .m_feature_package .package-inbox-type-b .o_prod-box,
.s3 .m_feature_package .package-inbox-type-d .o_prod-box {padding-left: 122px}
.s3 .m_feature_package .c_prod-name {font-size:14px}

.s12 .m_feature_package {padding:0;}
.s2 .m_feature_package .f_container {padding-bottom:160px}
.s2 .m_feature_package .f_container img {width: 100%}
.s2 .m_feature_package .o_prod-box .item1,
.s2 .m_feature_package .o_prod-box .item2 {width:264px}
.s2 .m_feature_package .o_prod-box .item3 {width:181px}
	.s2 .m_feature_package .o_prod-etc li {padding:0;}
	.s2 .m_feature_package .c_prod-name {font-size:14px;line-height:18px;margin:0 auto;}
.s2 .m_feature_package .package-inbox-type-b .o_prod-box,
.s2 .m_feature_package .package-inbox-type-d .o_prod-box {padding-left: 110px}
.s2 .m_feature_package .o_area-inner .c_desc-type2 {margin-top:76px}

.s1 .m_feature_one-ui {margin-bottom:-45px}
.s1 .m_feature_package {padding-top:45px;margin-top:0;}
.s1 .m_feature_package .f_header-s10 {padding-bottom:0;}
.s1 .m_feature_package .f_container {margin:45px 0 0 0;width:auto;height:auto;padding-bottom:110px}
.s1 .m_feature_package .f_container img {width:100%}
.s1 .m_feature_package .o_area-inner .o_scroll-wrap,
.s1 .m_feature_package .o_area-inner .o_prod-etc {width: 305px;margin:0 auto}
.s1 .m_feature_package .o_area-inner .c_desc-type2 {margin:40px 26px 0;}
.s1 .m_feature_package .c_prod-name {font-size: 13px}
.s1 .m_feature_package .o_prod-box .item1,
.s1 .m_feature_package .o_prod-box .item2 {width: 176px}
.s1 .m_feature_package .o_prod-box .item3 {width: 120px}
.s1 .m_feature_package .o_prod-etc li {float:left;width:50%;padding:0 27px 14px;box-sizing:border-box;}
.s1 .m_feature_package .o_prod-etc li.cell2 {width:100%;padding:30px 27px 0}
.s1 .m_feature_package .o_prod-etc li.cell2 .c_prod-name {padding-top:18px}
.s1 .m_feature_package .o_point {display:block;height:20px;text-align:center;margin:28px 0;}
.s1 .m_feature_package .o_point span {display:inline-block;width:9px;height:9px;background:transparent;border:1px solid #747474;box-sizing:border-box;border-radius:50%;vertical-align:middle;}
.s1 .m_feature_package .o_point span + span {margin-left:12px}

.s1 .m_feature_package .o_point span.on {background: #747474}
.s1 .m_feature_package .package-inbox-type-b .o_scroll-wrap,
.s1 .m_feature_package .package-inbox-type-d .o_scroll-wrap {margin-bottom:32px}
.s1 .m_feature_package .package-inbox-type-b .o_prod-box,
.s1 .m_feature_package .package-inbox-type-d .o_prod-box {padding-left:0}
.s1 .m_feature_package .package-inbox-type-b .o_point,
.s1 .m_feature_package .package-inbox-type-d .o_point {display:none}

/*.color_yb .heading a,*/
.color_yb .design .c_cate-type1,
.color_yb .design .c_cate-type1 span,
.color_yb .design .c_tit-type1,
.color_yb .design .c_tit-type2,
.color_yb .design .c_tit-type3,
.color_yb .design .c_tit-type1 span,
.color_yb .design .c_tit-type2 span,
.color_yb .design .c_tit-type3 span,
.color_yb .design .c_desc-type1,
.color_yb .design .c_desc-type1 span,
.color_yb .design .c_desc-type2,
.color_yb .design .c_desc-type2 span,
.color_yb .design .c_desc-type4,
.color_yb .design .c_desc-type4 span,
.color_yb .design .m_feature_colors .o_tab a span,
.color_yb .design .c_prod-height,
.color_yb .design .c_prod-ppi,

.color_yb .design .c_prod-name {background-color: #000 !important; color: #fff01f !important; opacity: 1!important;}
.color_yb .m_feature-infinity .o_tab li .c_prod-name:after {background-color: #fff01f;}
.color_yb .m_feature_one-ui .o_paging a {background:#000;}
.color_yb .m_feature_one-ui .o_paging a span {background:#fff;}
.color_yb .m_feature_one-ui .o_paging .on a {background:#fff01f;}
.color_yb .m_feature_one-ui .o_paging .on a span {background:#000;}
.color_yb .design .color-chip {background-color: #000 !important;}
.color_yb .design .m_feature_colors .o_tab img {opacity: 1!important;}
.color_yb .design .m_feature_colors .o_tab a.on span {background: #fff01f !important;color:#000 !important;}
.color_yb .design a.c_link_pre-type1:hover {color:#fff01f !important;}
.color_yb .design .black-type * {color:#fff01f !important;}
.color_yb .c_btn-play {background-color:#000 !important;}
.color_yb .design .c_desc-type3 span {color:#fff01f !important;}
.color_yb .f_section3 .c_desc-type3.on:before,
.color_yb .f_section3 .c_desc-type3.on:after,
.color_yb .m_feature-infinity .c_desc-type3:after,
.color_yb.s2 .m_feature-infinity .g_s10e .o_prod-s10e:after,
.color_yb .m_feature-infinity .c_desc-type3:before {background-color:#fff01f !important;}

/*** 5G Localize ***/
.s1 .m_feature_colors .o_tab .tab4 img {
    width: 49px;
}